{% extends "read_tune/layout.html" %}
{% block body %}




<div class="container-fluid">
    <div class="row justify-content-center g-4 list">
        {% for playlist in playlists %}

        <div class="col-4 col-xxl-3">
            <div>
                <h5 class="text-center mb-2 text-break">
                    {{playlist.title}}
                </h5>
                <iframe height="300px" width="100%" src="http://www.youtube.com/embed/playlist?list={{playlist.id}}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen showInfo="1"></iframe>
                <a type="button" class="btn btn-primary w-100"
                    href="https://www.youtube.com/playlist?list={{playlist.id}}" target="_blank">Open Playlist</a>
            </div>
        </div>
        {% endfor %}



    </div>

</div>
{% endblock %}