{% extends "read_tune/layout.html" %}
{% block body %}




<div class="container-fluid">
    <div class="justify-content-center ">
        <div class="playlist_generated mx-auto">
            <h3>Your playlist is ready <span>&#x1F431;&#x200D;&#x1F453;</span>!</h3>
            <div class="d-flex flex-column justify-content-center ">
                <iframe style="border-radius:12px" title="playlist"
                    src="https://open.spotify.com/embed/playlist/{{playlist.id}}?utm_source=generator" width="100%"
                    height="500px" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
                <a type="button" class="btn btn-primary mt-2" href="{% url 'index' %}">Go Home Page</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}